/*Playfair*/
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-Italic.otf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-BoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-BlackItalic.otf");
    font-weight: 900;
    font-style: italic;
}

/*Playfair Uppercase*/

@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-Italic.otf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-BoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: 'PlayfairDisplay Uppercase';
    src: url("../fonts/PlayfairDisplaySC-BlackItalic.otf");
    font-weight: 900;
    font-style: italic;
}

/*Poppins*/
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 900;
}