html {
    font-size: 100%;
}
body {
    font-family: Poppins, 'Playfair Display', 'Playfair Display Uppercase', Baskerville, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    overflow-x: hidden;
    padding-top: 100px;
    background-color: #efefef;
}
.timo--sec {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    line-height: 52px;
}
.timo--sec.sm-fs {
    font-size: 62px;
}
h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 100;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.btn {
    height: 45px;
    padding: 0 18px;/*form-submit*/
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    font-weight: 300;
    transition: all 300ms 50ms;
    cursor: pointer;
}
.btn:hover {
    filter: invert(100%);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .btn:hover {
        background-color: #fff;
        color: #000;
        border-color: #fff;
    }
}
.btn:active {
    transform: scale(.85);
}
.btn.btn--white {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding-left: 20px;
    padding-right: 19px;/*pr-19px-main*/
}
.btn.btn--md {
    padding-left: 27px;
    padding-right: 19px;/*request-quote*/
}
.btn.btn--lg {
    height: 35px;
    padding-left: 27px;
    padding-right: 27px;/*collections*/
}
.separator {
    max-width: 385px;
    width: 100%;
    height: 3px;
    border: none;
    background-color: #fff;
}
.separator.separator--black {
    background-color: #000;
    width: 200px;
}
.separator.separator--small {
    width: 85px;
}
[src = "./img/icon-arrow.png"] {
    max-width: 18px;
}