/*HEADER*/
.header {
    height: 100px;
    border-top: 10px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
    .header > .container {
        height: 100%;
    }
    .header__main {
        background-color: #fff;
        height: 100%;
        position: relative;
    }

        .header-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            /*align-items: baseline;*/
            width: 100%;
            height: 100%;
        }
            .header-nav__item {
                font-size: 18px;
                -webkit-transition: opacity 300ms;
                -o-transition: opacity 300ms;
                transition: opacity 300ms;
                white-space: pre;
                font-weight: 300;
            }
            .header-nav__item:hover {
                opacity: .8;
            }
            .header-nav__item:active {
                -webkit-transform: scale(.9);
                    -ms-transform: scale(.9);
                        transform: scale(.9);
            }
            .header-nav__item:nth-child(3):after {
                content: '';
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                width: 74px;
            }
        .header__logo {
            width: 74px;
            left: calc(50% - 37px);
            top: -3px;
            position: absolute;
            margin: 0 auto;
        }
/*HOME (SLIDER)*/
#home {
    background: -webkit-linear-gradient(left, #000000 0%, #000000 42.5%, #efefef 42.5%, #efefef 100%);
    background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(42.5%, #000000), color-stop(42.5%, #efefef), to(#efefef));
    background: -o-linear-gradient(left, #000000 0%, #000000 42.5%, #efefef 42.5%, #efefef 100%);
    background: linear-gradient(to right, #000000 0%, #000000 42.5%, #efefef 42.5%, #efefef 100%);
    padding: 40px 0 105px;
    position: relative;
}
    #home > .container {
        padding: 25px 15px 25px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .border {
        border: 5px solid #fff;
        max-width: 770px;
        width: 100%;
        height: 345px;
        z-index: 1;
        position: relative;
    }
    .slogan {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        mix-blend-mode: difference;
        top: 130px;
        left: 136px;
        right: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
        .slogan__heading {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 30px;
        }
        .slogan__heading:after {
            content: '';
            display: inline-block;
            width: 140px;
            height: 3px;
            background: #fff;
            top: 11px;
            position: relative;
        }
        .slogan__heading h4 {
            font-weight: 900;
            font-style: italic;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-right: 25px;
        }
        .slogan__text {
            color: #fff;
            font-weight: 300;
            max-width: 345px;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 32px;
        }
        .slogan__text > span {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-style: italic;
        }
        .slogan .btn {
            -ms-flex-item-align: start;
                align-self: flex-start;
        }
        .slogan .btn span {
            margin-right: 90px;
        }
    .carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        left: 37%;
        top: 110px;
        z-index: 2;
    }
        .carousel__img-wrap {
            max-width: 730px;
            width: 100%;
        }
        .carousel__nav {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-left: 135px;
            -webkit-transform: translate(0, -11px);
                -ms-transform: translate(0, -11px);
                    transform: translate(0, -11px);
        }
        .carousel__nav-item {
            display: block;
            width: 9px;
            height: 9px;
            background-color: #000;
            border-radius: 50%;
            -webkit-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms;
        }
        .carousel__nav-item.active {
            border: 2px solid #000;
            background-color: transparent;
            -webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                    transform: scale(1.4);
        }
        .carousel__nav-item:not(:last-child) {
            margin-right: 9px;
        }
    #home .container > h4.timo--sec {
        font-weight: 900;
        font-style: italic;
        -webkit-transform: rotateZ(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotateZ(-90deg);
        position: absolute;
        right: -185px;
        bottom: calc(50% - 65px);
    }




/*ABOUT SECTION*/
#about{
    background-color: #f7f7f7;
    position: relative;
    /*height: 380px;*/
}
    #about > .container {
        padding: 25px 15px 25px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .about__image {
        width: 100%;
        max-width: 370px;
        -ms-transform: translate(0, -75px);
        -webkit-transform: translate(0, -75px);
        transform: translate(0, -75px);
    }
    .about__image img {
        width: 100%;
        height: auto;
    }
    .about__image:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 47%;
        height: 15px;
        background-color: #000;
    }
    .about__description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: calc(100% - 400px);
        -ms-transform: translate(0, -50px);
        padding-bottom: 63px;
        padding-left: 100px;
    }
    .about__description p {
        font-weight: 100;
        margin-top: 15px;
        max-width: 555px;
    }
    .about__description .separator.separator--black {
        margin-top: 5px;
        margin-right: 110px;
        -ms-flex-item-align: center;
            align-self: center;
    }
    .about__description .separator {
        -ms-flex-item-align: end;
            align-self: flex-end;
        -ms-transform: translate(120px, 0);
        -webkit-transform: translate(120px, 0);
        transform: translate(120px, 0);
    }
    #about h3.timo--sec {
        font-weight: 900;
        font-style: italic;
        margin-bottom: 25px;
        z-index: -1;
    }
    .about__subtitle {
        right: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 498px;
        bottom: 92px;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about__subtitle .separator {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
/*COLLECTIONS SECTION*/
#collections {

}
    #collections .container {
        padding-top: 92px;
        padding-bottom: 70px;
        height: 645px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #collections .arrow {
        position: absolute;
        cursor: pointer;
        top: calc(50% - -73px);
        width: 35px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: -webkit-filter 300ms;
        transition: -webkit-filter 300ms;
        -o-transition: filter 300ms;
        transition: filter 300ms;
        transition: filter 300ms, -webkit-filter 300ms;
    }
    #collections .arrow img {
        max-width: 20px;
    }
    #collections .arrow:hover {
        background-color: #fff;
        -webkit-filter: invert(100%);
                filter: invert(100%);
    }
    #collections .arrow-left {
        left: -50px;
    }
    #collections .arrow-right {
        right: -50px;
        -webkit-transform: rotatey(180deg);
            -ms-transform: rotatey(180deg);
                transform: rotatey(180deg);
    }
    #collections h3 {
        margin-bottom: 17px;
        text-align: center;
    }
    .collections__heading {
        position: absolute;
        top: 82px;
        left: calc(50% - 225px);
        line-height: 26px;
        font-weight: 700;
        font-style: italic;
        z-index: -1;
    }
    .collections__carousel {
        height: 330px;
        /*background-color: darkorchid;*/
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
        .collections__carousel-item {
            border: 6px solid #fff;
            width: 270px;
            height: 330px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            cursor: pointer;
            -webkit-transition: opacity 300ms;
            -o-transition: opacity 300ms;
            transition: opacity 300ms;
        }
        .collections__carousel-item:hover .collections__carousel-item__img-wrap img {
            -webkit-transition: opacity 300ms;
            -o-transition: opacity 300ms;
            transition: opacity 300ms;
        }
        .collections__carousel-item:hover .collections__carousel-item__img-wrap img {
            opacity: .5;
        }
        .collections__carousel-item:hover .view-collection {
            display: block;
        }
        .collections__carousel-item__img-wrap {
            background-color: #f7f7f7;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 260px;
            overflow: hidden;
            position: relative;
        }
        .view-collection {
            position: absolute;
            top: calc(50% - -2px);
            left: calc(50% - 80px);
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 1px;
            display: none;
        }
        .collections__carousel-item__img-wrap img {
            width: 70%;
        }
        .collections__carousel-item__description {
            background-color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-weight: 100;
            padding-top: 15px;
        }
        .collections__carousel-item__description h5 {
            font-size: 23px;
            font-weight: 100;
            line-height: 20px;
        }
        .collections__carousel-item__description span {
            color: #606060;
            font-size: 14px;
        }
    .collections__description {
        max-width: 970px;
        text-align: center;
        margin-bottom: 45px;
    }
/*REQUEST SECTION*/
#request-quote .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*margin-bottom: 100px;*/
}
    .request-quote__wrap {
        border-left: 2px solid #000;
        border-bottom:  2px solid #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 0 24px 30px;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .request-quote__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
        .request-quote__info p {
            color: #606060;
            font-weight: 100;
            letter-spacing: .1px;
        }
        .request-quote__info span {
            font-size: 21px;
            letter-spacing: .1px;
        }
    .request-quote__request {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        width: calc(100% - 480px);
    }
    .request-quote__request > .separator:first-child {
        -webkit-transform: translate(115px, -25px);
            -ms-transform: translate(115px, -25px);
                transform: translate(115px, -25px);
    }
    .request-quote__request > .separator:last-child {
        margin-top: 10px;
    }
    .request-quote__request > .btn {
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
        letter-spacing: 1px;
        font-weight: 100;
        min-width: 215px;
    }
    .request-quote__request > .btn:active {
        -webkit-transform: translateY(-3px) scale(.85);
            -ms-transform: translateY(-3px) scale(.85);
                transform: translateY(-3px) scale(.85);
    }
    .request-quote__request > .btn img {
        vertical-align: baseline;
        margin-left: 8px;
    }
/*QUALITY SECTION*/
#quality {
    padding-bottom: 30px;
}
    #quality h3.timo--sec {
        font-weight: 900;
        font-style: italic;
        /*margin-bottom: 25px;*/
    }
    #quality > .container {
        padding: 60px 15px 25px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .quality__image {
        width: 100%;
        max-width: 587px;
        padding-left: 120px;
        width: 100%;
        max-width: 587px;
    }
    .quality__image img {
        width: 100%;
        height: auto;
    }
    .quality__description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: calc(100% - 620px);
        padding-top: 80px;
    }
    .quality__description p {
        font-weight: 100;
        margin-top: 15px;
    }
    .quality__image {
        position: relative;
    }
    .quality__image-container {
        background: #fff;
        padding: 25px 18px;
    }
    .quality__image .timo--sec {
        font-weight: 900;
        font-style: italic;
        margin-bottom: 25px;
        padding: 0 20px 12px 20px;
        top: 152px;
        text-align-last: center;
        -webkit-transform: rotateZ(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotateZ(-90deg);
        left: -88px;
        position: absolute;
        border-bottom: 15px solid #000;
    }
    .quality__subtitle {
        left: -100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        bottom: 90px;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .quality__subtitle .separator:nth-child(1){
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-transform: translate(29px, 0);
            -ms-transform: translate(29px, 0);
                transform: translate(29px, 0);
        margin-bottom: 10px;
    }
    .quality__subtitle .separator:nth-child(2){
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
/*QUOTE SECTION*/
#quote {
    /*background: -moz-linear-gradient(left, #efefef 0%, #efefef 51%, #000 51%, #000 100%);
    background: -webkit-linear-gradient(left, #efefef 0%, #efefef 51%, #000 51%, #000 100%); 
    background: linear-gradient(to right, #efefef 0%, #efefef 51%, #000 51%, #000 100%); */
    background: -webkit-linear-gradient(left, #efefef 0%, #efefef 50%, #000 50%, #000 100%);
    background: -o-linear-gradient(left, #efefef 0%, #efefef 50%, #000 50%, #000 100%);
    background: linear-gradient(to right, #efefef 0%, #efefef 50%, #000 50%, #000 100%);
    
    padding: 110px 0 85px 200px;
    position: relative;
}
    #quote .slogan {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        top: 175px;
        right: 272px;
    }
    #quote .slogan__text {
        white-space: pre-line;
        font-size: 32px;
        line-height: 39px;
        font-weight: 100;
        max-width: 505px;
        margin-bottom: 25px;
    }
    #quote .slogan__heading {
        font-weight: 900;
        font-style: italic;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    #quote .slogan__heading:after {
        display: none;
    }
    .quote__img {
        max-width: 501px;
        width: 100%;
        position: absolute;
        left: -85px;
        top: -95px;
        z-index: 2;
    }
    #quote .border {
        max-width: 1070px;
        height: 330px;
    }
/*CO-CREATING SECTION*/
#co-creating{
    background-color: #f7f7f7;
    padding-top: 80px;
}
    #co-creating > .container {
        padding: 25px 15px 25px 15px;
        z-index: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: center;
    }
    .co-creating__description {
        margin: 10px auto;
        max-width: 900px;
        font-weight: 100;
    }
    /*CONTACT-US SECTION*/
    #contact-us {
        background-color: #f7f7f7;
    }
    #contact-us > .container {
        padding: 25px 15px 25px 15px;
        z-index: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: center;
    }
    .timo-touch {
        border: 5px solid #fff;
        max-width: 370px;
        margin: 45px auto 25px auto;
        padding: 23px 0 33px 0;
    }
    .timo-touch p {
        font-family: 'Playfair Display';
        white-space: nowrap;
        font-size: 42px;
        font-weight: 700;
        -webkit-transform: translate(-25%, 0);
            -ms-transform: translate(-25%, 0);
                transform: translate(-25%, 0);
        font-style: italic;
    }
    .contact-form {
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
        padding-bottom: 45px;
        background-color: #000;
    }
    .contact-form__form {
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: calc(100% + 200px);
        -webkit-transform: translate(-100px, 0);
            -ms-transform: translate(-100px, 0);
                transform: translate(-100px, 0);
        padding: 10px 100px 40px 100px;
    }
    .contact-form__header {
        margin: 0 auto;
        padding: 60px 0 40px 0;
    }
    .contact-form__info {
        max-width: 500px;
        margin: 15px auto 0 auto;
    }
    .contact-form__info b {
        font-weight: 700;
    }
    .contact-form__header span {
        color:#606060;
        font-weight: 300;
        margin-left: 15px;
    }
    .contact-form__form input:first-child {
        width: 100%;
    }
    .contact-form__form input::-webkit-input-placeholder,
    .contact-form__form textarea::-webkit-input-placeholder {
        color:#606060;
    }
    .contact-form__form input:nth-child(2){
        margin-right:30px;
    }
    .contact-form__form input:not(:first-child){
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    .contact-form__form input, .contact-form__form textarea {
        border-bottom: 1px solid #000;
        border-top: none;
        border-left: none;
        padding: 35px 17px 13px 20px;
        border-right: none;
    }
    .contact-form__form textarea {
        resize: none;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .contact-form__header h2 {
        color: #fff;
        font-weight: 100;
        font-size: 32px;
        line-height: 42px;
    }
    .contact-form__form .btn--white span {
        margin-right: 60px;
    }
/*FOOTER*/
.footer {
    background-color: #f7f7f7;
}
    footer > .container {
        padding: 0 15px 25px 15px;
        z-index: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: center;
    }

    .footer-nav {
        padding: 0 0 16px 0;
    }
    .footer-nav a {
        color: #606060;
        font-weight: 300;
        font-size: 14px;
        transition: opacity 300ms;
    }
    .footer-nav a:hover {
        opacity: .8;
    }
    .footer-nav a:not(:last-child){
        margin-right:15px;
    }
    .footer-copyright {
        color: #606060;
        padding: 25px 0 0 0;
        font-weight: 100;
        font-size: 14px;
        border-top: 1px solid #606060;
    }
    .hearts-icon {
        font-size: 18px;
        color: #b18ade;
    }
/*MODAL (POPUP)*/

.popup {
    position: fixed;
    display: none;
    max-height: 100vh;
    height: 100%;
    width: 100vw;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    z-index: 20;
    left: 0;
    overflow-y: auto;
    /*display: flex;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
}
    .show-popup{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .popup-close{
        display:none;
    }
        .popup-inner {
            padding: 20px 15px;
            background-color: #fff;
            overflow-y: auto;
            border: 2px solid #e3e4e7;
            width: 80%;
            margin: auto;
        }
        .popup__close,
        .popup__grid {
            font-size: 50px;
            font-weight: 100;
            -webkit-transition: opacity 300ms;
            -o-transition: opacity 300ms;
            transition: opacity 300ms;
        }
        .popup__close:hover,
        .popup__grid:hover {
            color: #606060;
            opacity: .6;
        }
        .popup__close:active,
        .popup__grid:active {
            -webkit-transform: scale(.9);
                -ms-transform: scale(.9);
                    transform: scale(.9);
        }
        .popup__grid {
            font-size: 30px;
            margin-right: 20px;
        }
        .popup__close {
            margin-top: 5px;
        }
.product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
        .product-list__heading {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 40px;
        }
        .product-list__heading h2 {
            color: #000;
            font-style: italic;
        }
        .product-list__main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        .product-list__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: calc(25% - 10px);
            margin-right: 10px;
            cursor: pointer;
            -webkit-transition: opacity 300ms;
            -o-transition: opacity 300ms;
            transition: opacity 300ms;
        }
        .product-list__item:hover {
            opacity: .8;
        }
        .product-list__item:active {
            -webkit-transform: scale(.9);
                -ms-transform: scale(.9);
                    transform: scale(.9);
        }
            .item__img-wrap {
                max-width: 90%;
            }
            .item__img-wrap > img {
                width: 100%;
            }
            .item__size {
                background-color: #62d9d7;
                width: 100%;
            height: 35px;
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .item__size > span:first-child {
            margin-right: 10px;
        }
.product-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    max-width: 800px;
    top: 50px;
    z-index: 21;
    left: 0;
    right: 0;
}
    .product-details__img {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        padding: 20px 15px;
    }
    .product-details__info {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        background-color: #f9fafc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 30px 25px;
    }
    .product-details__info nav {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .product-details__heading {
        border-bottom: 1px solid #606060;
        color: #000;
        font-style: italic;
        margin: 10px 0;
    }
    .product-details__row {
        padding: 10px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 80%;
        width: 100%;
    }
    /*Media*/
.mobile-menu{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 15px;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0, .8);
    z-index: 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: hidden;
}
.mobile-menu a {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8;
    transition: opacity 300ms 100ms;
}
.mobile-menu a:hover {
    opacity: .75;
}
#nav-toggle{
    display: none;
    height: 3.5px;
    border-radius: 3px;
}


#nav-toggle { position: absolute; left: 15px; top: 30px; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.show-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-share {
    position: absolute;
    padding: 0 20px;
    bottom: 0;
}
.social-share i{
    font-size: 38px;
    transition: opacity 300ms 100ms, transform 200ms;
    cursor: pointer;
}
.social-share i:hover {
    opacity: .8;
}
.social-share i:active {
    -webkit-transform: translateY(-3px) scale(.85);
        -ms-transform: translateY(-3px) scale(.85);
            transform: translateY(-3px) scale(.85);
}

@media screen and (max-width: 1400px) {
    #quote .slogan {
        right: 95px;
    }
}
@media screen and (max-width: 1366px) {
    .about__description .separator{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .request-quote__wrap{
        overflow-x: hidden;
    }
}

@media (max-width: 1199px) {
    /*HOME*/
    .container { 
        max-width: 970px;
    }
        .border {
            max-width: 630px;
        }
        .slogan {
            left: 150px;
        }
            .carousel__img-wrap {
                max-width: 550px;
            }
            .carousel__nav {
                padding-left: 110px;
                -webkit-transform: translate(0, 10px);
                    -ms-transform: translate(0, 10px);
                        transform: translate(0, 10px);
            }
   /*COLLECTIONS*/
    #collections .container {
        max-width: 880px;
    }
    .collections__carousel-item:last-child {
        display: none;
    }
   /*SLOGAN*/
    #quote {
        padding: 110px 0 85px 85px;
    }
    .quote__img {
        max-width: 425px;
        left: -65px;
    }
    #quote .slogan {
        right: 80px;
    }
    /*ABOUT*/
    .about__description .separator{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .about__subtitle{
        bottom: 50px;
    }
    .request-quote__request > .separator:first-child{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1100px) {
    .quality__subtitle{
        position: static;
        margin-top: 15px;
    }
    .quality__subtitle .separator:nth-child(1){
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    /*.quality__description{
        padding-top:0;
    }*/
    .quality__image .timo--sec{
        -webkit-transform:none;
            -ms-transform:none;
                transform:none;
        position: static;
        margin-bottom: 0;
    }
}



@media (max-width: 1065px) {
    /*HOME*/
    .slogan {
        left: 75px;
    }
    #quote .slogan {
        right: 40px;
    }
}

@media (max-width: 991px) {
    /*HOME*/
    #home .container { 
        max-width: 100%;
    }
    .border {
        max-width: 64%;
    }
   .slogan {
        left: 35px;
    }
    .timo--sec.sm-fs {
        font-size: 60px;
    }
    .slogan__heading:after {
        width: 130px;
    }
    .slogan__text {
        max-width: 265px;
        font-size: 23px;
        line-height: 42px;
    }
    .carousel {
        top: 165px;
    }
    .carousel__img-wrap {
        max-width: 92%;
    }
    /*COLLECTIONS*/
    #collections .container {
        max-width: 650px;
    }
    .collections__carousel-item:nth-child(3) {
        display: none;
    }
    /*SLOGAN*/
    .quote__img {
        max-width: 320px;
        top: -55px;
    }
    #quote .border {
        height: 300px;
    }
    #quote .slogan {
        top: 165px;
    }
    #quote .slogan__text {
        max-width: 385px;
        font-size: 24px;
    }
    #quote .slogan__heading {
        font-size: 46px;
        line-height: 35px;
    }
    #about h3.timo--sec{
        font-size: 70px;
        line-height: 66px;
    }
        .header-nav {
        display: none;
    }
    .menu-toggle{
        display: block;
        }

    .contact-form__form{
        width: calc(100% + 100px);
        -webkit-transform: translate(-50px, 0);
            -ms-transform: translate(-50px, 0);
                transform: translate(-50px, 0);
        padding: 10px 50px 40px 50px;
    }
    .quality__description{
        width: 100%;
    }
    .quality__image{
        max-width: 100%;
        padding-left: 40px;
   }
   .about__subtitle{
        position: static;
    }
    .about__description{
        padding-left: 40px;
        width: calc(100% - 337px);
    }
    .about__image{
        max-width: 100%;
    }
    #nav-toggle{
        display: block;
    }
    #collections .arrow{
        top: calc(50% - -95px);
        transition: all 300ms;
    }
}


@media (max-width: 840px) {
    /*HOME*/
    .carousel {
        top: 200px;
    }
    .contact-form{
        width:80%;
    }
    .product-list__item{
        width: calc(50% - 10px);
    }
}
@media (max-width: 767px) {
    /*HOME*/
    #home {
/*        padding: 15px 0 410px;*/
        padding: 15px 0 25px;
    }
    #home .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #home .container > h4.timo--sec {
        display: none;
    }
    .border {
        margin-bottom: 25px;
        max-width: 100%;
        height: 320px;
    }
    .slogan__heading:after {
        display: none;
    }
    .timo--sec.sm-fs {
        margin-right: 0;
        font-size: 53px;
    }
    .carousel {
        position: static;
        top: 355px;
        left: 15px;
        right: 15px;
    }
    .carousel__img-wrap {
        max-width: 730px;
    }
    .slogan {
       top: 65px;
    }
    .carousel__nav {
        padding-left: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .quality__description{
        padding-top: 25px;
    }
    /*COLLECTIONS*/
    #collections .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }
    #collections .arrow-left {
        left: 15px;
    }
    #collections .arrow-right {
        right: 15px;
    }
    .collections__carousel-item:nth-child(2) {
       display: none;
    }
    .collections__carousel {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
   
    /*SLOGAN*/
    #quote {
        padding: 30px 15px 50px;
    }
    #quote .border {
        display: none;
    }
    .quote__img {
        position: static;
        margin-bottom: 25px;
        width: auto;
        max-width: 501px;
    }
    #quote .slogan {
        position: static;
        padding: 10px;
        border: 5px solid #ffffff;
        mix-blend-mode: normal;
    }
    #quote .slogan__text {
        mix-blend-mode: difference;
    }
    #quote .slogan__heading {
        mix-blend-mode: difference;
    }
    .request-quote__request{
        width:calc(100% - 225px);
        padding-left: 10px;
        min-width: 230px;
    }
    .request-quote__request .separator{
        max-width: 215px;
    }
    #quality h3.timo--sec{
        font-size: 60px;
        padding-bottom: 0;
    }
    #about h3.timo--sec{
        font-size: 60px;
    }
}

@media screen and (max-width: 640px) {
    .timo-touch p{
        white-space: normal;
        -webkit-transform:none;
            -ms-transform:none;
                transform:none;
        line-height: 1;
    }
    .contact-form{
        width:100% !important;
    }
    .contact-form__form{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        width: 100%;
    }
    .collections__carousel-item__img-wrap img{
        min-width: 200px;
    }
    .contact-form__form{
        padding: 10px 15px 40px 15px;
    }
    .contact-form__form input:nth-child(2){
        margin-right: 0;
    }
    .timo-touch{
        max-width: initial;
    }
    #quality > .container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .quality__description{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .quality__image{
        margin-top: 60px;
        padding-left: 0;
        max-width: 400px;
    }
    #about > .container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about__description{
        width: 100%;
    }
    .about__image{
        max-width: 400px;
        -webkit-transform:none;
            -ms-transform:none;
                transform:none;
        margin-bottom: 20px;
    }
    .about__description{
        padding-left: 0;
    }
    .about__description p{
        max-width: 100%;
        text-align: center;
    }
    .about__description h3{
        margin: 0 auto;
        text-align: center;
    }
    .about__subtitle{
        margin: 0 auto;
    }
    .quality__description, .quality__description h3{
        text-align: center;
    }
    .product-details{
        display: block;
        margin-bottom: 100px;
    }
    .product-details__img{
        max-width: 100%;
        display: block;
    }
    .product-details__info{
        max-width: 100%;
        display: block;
    }
    .product-details__info nav{
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
    }
    #collections .container{
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    /*COLLECTIONS*/
    .collections__heading  {
        top: 90px;
        left: calc(50% - 150px);
        font-size: 60px;
    }
    /*REQUEST QUOTE*/
    .request-quote__wrap{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .request-quote__info{
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    /*COLLECTIONS*/
    .collections__carousel-item {
        width: 210px;
        height: 260px;
    }
    #about h3.timo--sec{
        font-size: 50px;
    }
    
    /*SLOGAN*/
    #quote .slogan__text {
        font-size: 16px;
        line-height: 34px;
    }
    #quote .slogan__heading {
        margin-right: 0;
        font-size: 33px;
    }
    .product-list__item{
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;
    }
}
@media (max-width: 360px) {
    #collections .arrow{
        top: calc(50% - -133px);
    }
    .product-list__heading .timo--sec.sm-fs{
        font-size: 38px;
    }
}
.mobile-menu a:active .mobile-menu{
    display: none !important;
    position:static;
}
#hide-icon{
    position: absolute;
    top: 36px;
    left: 14px;
    width: 37px;
    height: 36px;
    background: url('../img/cross-out-mark.png') no-repeat;
}

.popup-inner__overlay{
    overflow-y: scroll;
    display: none;
    position: fixed;
    background: rgba(0,0,0, .8);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.show-popup-inner__overlay{
    display: block;
}

.languagepicker {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: baseline;
        align-self: baseline;
	padding: 0;
	height: 40px;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	vertical-align: top;
    margin-top: 25px;
}
.languagepicker:hover {
	height: 81px;
}
.languagepicker a{
    font-style: italic;
	color: #000;
    font-weight: 100;
	text-decoration: none;
}
.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
}
.languagepicker a:first-child li {
	border: none;
}
.languagepicker li:hover{
	opacity: .8;
}
.large:hover {
	height: 122px;
}