@font-face {
    font-family: HelveticaNeueCyr-Bold;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/helveticaneuecyr-bold.otf');
}


body {
    color: #2a3035;
    background: #fff;
    margin: 0;
    min-width: 320px;
    height: auto !important;
    position: relative;
}
html, body {
    overflow-y: auto !important;
}
h3 {
    margin: 0;
    font-family: HelveticaNeueCyr-Bold;
}
a {
    text-decoration:none;
    color:#43a7a9;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

img {border:none;}
form,
fieldset {
    padding:0;
    margin:0;
    border:0;
}
input,
select,
textarea {
    font:12px/15px 'Roboto', sans-serif;
    vertical-align:middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance:none;
    cursor:pointer;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: none;
    padding:0;
}
blockquote, q {quotes:none;}
q:before,
q:after {content: "";}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {outline:none;}
header,
footer,
section,
nav,
article,
aside {display:block;}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* wrapper */
.wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding: 0px 0 0;
}
.container {
    margin:0 auto;
    padding:0 10px;
    max-width:1120px;
}
.container:after {
    clear:both;
    content:"";
    display:block;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* banner */
.banner {
    background: #595855 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 24px;
    line-height: 34px;
    position: relative;
    color: #fff;
    text-align: center;
    overflow: hidden;
    min-height: 80vh;
    height: 80vh;
}
.banner .banner-hold {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner-hold .image{

    width: 100%;
    height: 100%;
    overflow-y: none;
}
.banner-hold .slick-arrow {
    position: absolute;
    width: 20px;
    height: 38px;
    top: 38%;
    text-indent: -9999px;
    background: none;
    border: none;
    z-index: 5;
}
.banner-hold .slick-arrow:hover {opacity: .8;}
.banner-hold .slick-prev {left: 150px;}

.banner-hold .slick-next {
    right: 150px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.banner-hold .slick-arrow:before,
.banner-hold .slick-arrow:after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 26px;
    height: 2px;
}
.banner-hold .slick-arrow:before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.banner-hold .list{
    height:100%;
}

.type2 img{
    width: 100%;
}

.banner-hold .slick-arrow:after {
    bottom: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*
.banner:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        opacity: .45;
        z-index: 1;
}*/
.banner.with-shadow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
}
.banner > img{display: none;}
.banner .container {
    position: relative;
    z-index: 2;
}
.banner .row {
    display: table;
    width: 20%;
    height: 80vh;
    position: absolute;
    top: 0;
    right: 80px;
    text-align: left;
}
.banner.type2 .row {
    text-align: center;
    right: 42%;
}
.banner.type3 .row {
    text-align: center;
    right: 20%;
    width: 30%;
}

.banner .col {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0 22px;
}
.banner.type2 .col {
    padding: 0 0 22px;
}
.banner.type3 .col {
    vertical-align: inherit;
    padding: 25% 0;
}
.banner.type3 .col .holder{
    padding: 2.5% 10%;
    background: #fff;
    border: 4px solid #339999;
    margin-bottom: 5%;
}
.banner.type3 h1{
    color: #339999;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 31px;
}
.banner.type3 .text{
    color: black;
    padding: 0 15%;
    margin-bottom: 15%;
    font-style: bold;
    font-size: 18px;
    line-height: 28px;
}
.banner.type3 .button{
    width: 30%;
    font-size: 16px;
    color: #fff;
    padding: 3% 5%;
    background: #339999;
    border: none;
    font-family: HelveticaNeueCyr-Bold;
}
.banner.type3 .button:hover{
    color: #fff;
    padding: 3% 6%;
    background: #339999;
    border: none;
    text-decoration: none;
    font-family: HelveticaNeueCyr-Bold;
}

.banner.with-brand .col {
    padding-bottom: 77px;
}
.banner video {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.banner.playing .row {
    opacity: 0;
}
.banner.playing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.banner.type1 h1 {
    text-shadow: 0 0 38px #000;
}
.type1{
    background: url(../images/bg2.png) 50% 30%  no-repeat ;
    background-size: cover;
}
.type2{
 background: url(../images/second.png) 100% 100%  no-repeat ;
}
.type3{
    background: url(../images/bg4.png) 100% 100%  no-repeat ;
    background-size: cover;
}
/* Steps section */

.steps{
    padding: 0 10%;
    height: 20vh;
    min-height: 20vh;
    background: #e8e8e8 50% 50% no-repeat;
}

#page .steps{
    height: 10vh;
    min-height: 10vh; 
    padding: 0 15%;
        position: relative;
}

.step {
    letter-spacing: 1px;
    float: left;
    width: 33%;
    min-width: 20%;
    text-align: center;
    padding-top: 4%;
    height: 100%;
    position: relative;
    font-size: 24px;
    z-index: 3;
    color: #8c8d8d;
}

#page .step{
    padding-top: 2vh;
}
.step h4 {
    margin-top: 1vh;
}
.text {
 font-family: HelveticaNeueCyr-Bold;
    font-size: 20px;
    line-height: 22px;
    padding-top: 10%;
}

.type2 .text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
}
.active {
    background: #8ecdf6 50% 50% no-repeat;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.inv-circle{
    font-family: HelveticaNeueCyr-Bold;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    background: #e8e8e8;
    color: #d0d0d0; 
    position: absolute;
    text-align: center;
    right: -15px;
    z-index: 1;
    top: 40%;
    z-index: auto; 
}

#page .inv-circle{
    top: 3vh;

}

.inv-circle::before {
    content: '';
    position: absolute;
    background: #d0d0d0;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    left: -5px;
    top: -5px;
}
.inv-circle img{
     height: 60%;
    margin-top: 5px;
    margin-left: 2.5px;
}
.closed{
    color: #464646;
}
.closed .inv-circle  img{
       height: 40%;
    margin-top: 10px;
    margin-left: 0;
}
.inv-circle::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 8vh;
    background: #d0d0d0;
    left: 40%;
    top: -2.3vh;
    z-index: -2;

}

.active .inv-circle{
    color: #8ecdf6;
}
.active .inv-circle::before{
    background: linear-gradient(to right, #8ecdf6, #6694b2);
}
.active .inv-circle::after{
    display: none;
}

.closed .inv-circle{
    color: #8ecdf6;
}
.closed .inv-circle::before{
    background: #8ecdf6;
}
.closed .inv-circle::after{
    display: none;
}
h2 {margin: 0;}
h4 {margin: 5px;}
.masks {
    top: 3%;
    width: 75%;
    left: 0;
    position: absolute;
    z-index: 1;
}

.cinema {
    position: absolute;
    top: 2.5%;
    z-index: -1;
    left: 5%;
    width: 55%;
}

.arrow {
    position: absolute;
    right: 25px;
    bottom: -100px; 
}

#step1 {
    z-index: 4;
}

#step2 {
    z-index: 3;
}

#step3 {
    z-index: 2;
}
#page .content {
    height: 80vh;
    margin-top: 0.5%;
    padding: 0 10%;

}
#page .heading {
    padding: 1% 10%;
    width: 99.2%;
    height: 5vh;

}

.heading-content {
    width: 80%;
    position: relative;
    float: right;
}

.search {
    position: relative;
    color: #43a7a9;
    font-size: 16px;
    width: 17%;
    float: left;
}

.search input {
    width: 100%;
    height: 32px;
    border: none;
    background: #e8e8e8;
    border-radius: 15px;

}

.search input { text-indent: 32px;}
.search .fa-search { 
    position: absolute;
    top: 7px;
    right: 10px;
}
#page input{
    display: block;
}
#page .footer {
    background: #e8e8e8 50% 50% no-repeat;
    width: 100%;
    height: 5vh;
    padding: 15px 10%;
    color: #8c8d8d;
}
.menuheading{
    float: left;
    margin-top: 5px;
    padding-left: 0;
}

.filter{
    float: right;

}

#page .left{
    width: 20%;
    float: left;
}

#page .right{
    width: 20%;
    float: right;  
    text-align: right;
}

.filter .btn-link{
    color: #8c8d8d;
}

.leftSide{
    width: 17%;
    float: left;
}
#page .leftSide .list{
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
   box-shadow: inset 0 3px 1px 0 rgba(0,0,0,0.5);
}
#page .leftSide .item{
    padding: 10%;
    position: relative;
    z-index: 1;
}
#page .leftSide .item-img{
    width: 90%;
}

#page .leftSide .active{
    background: rgba(142, 205, 246, 0.5) 50% 50% no-repeat;
    color: #fff;
    box-shadow: none;
}

#page .leftSide .heading{
    padding: 4% 10%;
}

#images {
    width: 80%;
    height: 75.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;

}
#images .item{
    width: 32%;
    margin: 0% 0% 1% 1%;
    float: left;
    height: 350px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.item .item-info {
    width: 100%;
    position: absolute;
    text-align: left;
    height: 100%;
    top: 0;
    left: 0;
}

#page .leftSide .item-info .heading {
    padding: 0% 3%;
    height: 3.5vh;
    margin-top: 0;
}

#page .leftSide .item-info .heading a{
    width: 15%;
    float: right;
    text-align: center;
}

#page .leftSide .new .mask {

    z-index: 1;
}
#page .leftSide .new .mask img{
    max-height: 45%;
    margin-top: 25%; 
}
.item-info .heading a{
    width: 12%;
    float: right;
    height: 100%;
    text-align: center;
}

.item-info .heading .pencil{
    margin-right: 2%;
}

.item-info .heading img{ 
    height: 60%;
    margin-top: 15%;
}

.item-info .button{
    width: 45%;
    font-size: 20px;
    color: #43a7a9;
    padding: 3% 5%;
    background: white;
    border: none;
    bottom: 12%;
    position: absolute;
    left: 28%;
    text-align: center;
    box-shadow: 1px 1px 4px #666;
    text-decoration: none;
    font-family: HelveticaNeueCyr-Bold;
}

.item-info .button:hover{

    color: #fff;

    background: #43a7a9;
    box-shadow: none;
}

#images  .new{
    border: 4px dashed #43a7a9;
}

#images .item img:not(.plus){
    max-height: 100%;
    vertical-align: middle;

}

#images .text {
    position: absolute;
    top: 37%;
    left: 25%;
    padding: 0;
    width: 50%;
}

#images .text h4{
    margin-top: 15px;
    color: #43a7a9;
}

#images .heading{
    padding: 0;
    vertical-align: middle;
    height: 12%;
    background: rgba(255, 255, 255, 0.4);
    color: #43a7a9;
    font-size: 20px;
    width: 100%;
}
#images .foot{
    height: 85%;

}
#images .item-text{
    position: relative;
    padding: 2.5% 0;
    float: left;
    width: 72%;
    padding-left: 5%; 
}

.item .item-info{
    display: none;
}

.item:hover .item-info {
    display: block;
}
.pencil:hover{
    background: #43a7a9;
}

.trash:hover{
    background: #43a7a9; 
}


#page .leftSide .mask {
    position: absolute;
    height: 49%;
    width: 51%;
    z-index: -1;
    top: 18%;
    left: 25%;
    overflow: hidden;
    text-align: center;
}

.mask img{

    max-height: 100%;
    width: initial;
}

.button-back{
    width: 7%;
    font-size: 20px;
    color: #fff;
    padding: 0.5% 0%;
    background: #43a7a9;
    border: none;
    top: 2.5vh;
    position: absolute;
    left: 10%;
    text-align: center;
    text-decoration: none;
    font-family: HelveticaNeueCyr-Bold;
}
.button-back span{
    margin-right: 15px; 
}
.button-back:hover {

    color: #43a7a9;
 text-decoration: none;
    background: #e8e8e8;
    box-shadow: none;
}

.menuleft {
    position: relative;
    font-size: 16px;
    width: 17%;
    float: left;
    margin-top: 5px;
    padding-left: 15px;
}

.menuheading .fa {
    margin-right: 15px;  
}

#categories .filter .btn-group {
   margin-right: 20px;
}
.filter a {
        text-decoration: none;
}
.filter .fa:hover {
        color: #43a7a9;
        text-decoration: none;
}

.filter .fa {
    color: #d0d0d0;
    margin-left: 15px; 
    font-size: 23px;
    margin: 0;
}

.selectedImg {
    overflow: hidden;
    height: 25vh;
    margin-bottom: 5%;
}

.selectedImg img{
    height: 100%;
}
.left-content {
    border: 3px solid #d0d0d0;
    font-weight: bold;
}

#page #categories .content{
   height: 115vh;
}

#page #categories .leftSide .list{
    height: 77vh;
}

#page #categories .leftSide .item{
    padding: 2%;
    position: relative;
    z-index: 1;
    height: 3vh;
}

#categories #images {
    height: 110vh;
    overflow-y: hidden;
}

.icon{
    width: 5%;
    float: left;
    font-size: 7px;
    height: 100%;
}
.item .fa-circle {
    display: none;
}

.active .fa-circle{
    display: inline;
}
.category{
    width: 80%;
    float: left;
    text-align: left;
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.count{
    width: 5%;
    float: left;
}
.part {
    position: relative;
}
.part img{
    height: 100%;
}

.part:after{
  content: '';
    position: absolute;
    width: 80%;
    height: 2.6px;
    background: #d0d0d0;
    left: 10%;
    bottom: -15px;
}

.sex {
   padding: 10% 20% 0 20%;
}

.sex .category{
   padding-left: 5%;
}

.sex .icon {
    width: 15%;
}



.range {
   padding: 10% 10% 0 10%;
   text-align: left;
}

.range .btn-group{
    float: right;
}

#slider-range {
    margin: 20px 0;
}

#amount {
    border: 0;
    font-weight: bold;
    color: #8c8d8d;
}

.ui-widget-content {
    background: #ffffff;
}

.ui-widget-header {
    background: #8ecdf6 50% 50% no-repeat;
}

.ui-state-active {
     background: #8ecdf6 50% 50% no-repeat;
}

.brands {
   padding: 10% 10% 0 20%;
}
.brands .title{
   text-align: left;
   margin-bottom: 15px;
}
.brands .category{
   padding-left: 5%;
}

.brands .icon {
    width: 15%;
}
.brands:after{
    display: none;
}

#categories #images .item {
    width: 100%;
    margin: 0;
    border: 3px solid #d0d0d0;
    height: 25vh;
    padding: 4px;
}

#categories #images .item:hover {
    border: 3px solid #43a7a9;

}


.item .preview {
    height: 100%;
    width: 20%;
    overflow: hidden;
    float: left;
}
.item .product-info {
    height: 100%;
    width: 75%;
    margin: 0% 2.5%;
    float: left;
    text-align: left;
}

.preview img {
    max-height: 100%;
    transform: translateX(-10%);
}

#categories #images .heading{
    color: black;
    margin-top: 2vh; 
    position: relative;
}

#categories #images .heading a{
    width: 15%;
    float: right;
    text-align: right;
}
#categories #images .heading:after{
     content: '';
    position: absolute;
    width: 100%;
    height: 2.6px;
    background: #d0d0d0;
    left: 0;
    bottom: -1vh;
}
#categories #images .item-text{
    position: relative;
    float: left;
    width: 85%;
    padding: 0%;
}
#categories #images .heading span{
    color: #43a7a9;
}

#categories #images .params{
    padding-top: 3vh;
    color: #d0d0d0;
}

.params .param {
    width: 50%;
    float: left;
    font-size: 18px;
}

.name {
    width: 50%;
    float: left;
}

.value {
    width: 50%;
    float: left; 
    text-align: right;
}

.param:nth-child(2n+1) {
    margin-right: 5%;
    width: 45%; 
}
.fa {
    margin-right: 15px;
}

.product-info .button{
    width: 10%;
    font-size: 20px;
    color: #fff;
    padding: 0.5% 0%;
    border: none;
    bottom: 5%;
    position: absolute;
    right: 2.5%;
    text-align: center;
    box-shadow: 1px 1px 4px #666;
    text-decoration: none;
    font-family: HelveticaNeueCyr-Bold;
    background: #43a7a9;
}

.product-info .button:hover{
          color: #43a7a9;
        text-decoration: none;
        background: white;
}

#categories #images .item:not(:nth-child(1)) {
    margin-top: 3vh;
}

.inactive a:not([class='button']),.inactive  span, .inactive div{
    color: #d0d0d0 !important;
}

.inactive .button {
    background: #d0d0d0;
}